.intro__list {
  margin: 0;
  padding: calc(100vw/(1280/33)) 0 0 0;
  list-style: none;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: calc(100vw/(1280/12));
  line-height: calc(100vw/(1280/18));
  color: #FFFFFF;
  width: calc(100vw/(1280/690));
  height: calc(100vw/(1280/90));
}
