.cover__subtitle {
  margin: 0 auto;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: calc(100vw/(1280/18));
  line-height: calc(100vw/(1280/22));
  color: #FFFFFF;
  width: calc(100vw/(1280/360));
  text-align: center;
}
