.header {
  display: grid;
  grid-template-columns: 1fr repeat(2, max-content);
  grid-template-rows: max-content;
  gap: calc(100vw/(1280/18));
  margin: 0 auto;
  width: calc(100vw/(1280/1184));
  padding-top: calc(100vw/(1280/28));
  align-items: end;
}

@media screen and (max-width: 1024px) {
  .header {
    gap: calc(100vw/(1024/18));
    width: calc(100vw/(1024/928));
    padding-top: calc(100vw/(1024/28));
  }
}

@media screen and (max-width: 768px) {
  .header {
    gap: calc(100vw/(768/18));
    width: calc(100vw/(768/720));
    padding-top: calc(100vw/(768/28));
  }
}

@media screen and (max-width: 320px) {
  .header {
    gap: calc(100vw/(320/18));
    width: calc(100vw/(320/288));
    padding-top: calc(100vw/(320/16));
  }
}
