.cover {
  position: relative;
  z-index: 1;
  margin: 0 auto;
  width: calc(100vw/(1280/1184));
  background: url("../../images/cover-trains.jpg") no-repeat;
  background-size: cover;
}

.cover::before {
  content:"";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(44, 44, 44, 0.3);
  z-index: -1;
}

.cover:hover::before {
  background-color: rgba(44, 44, 44, 0.6);
}

@media screen and (max-width: 1024px) {
  .cover {
    width: 100%;
    height: calc(100vw/(1024/640));
  }
}

@media screen and (max-width: 768px) {
  .cover {
    width: 100%;
    height: calc(100vw/(768/480));
  }
}

@media screen and (max-width: 320px) {
  .cover {
    width: 100%;
    height: calc(100vw/(320/200));
  }
}
