.lead__caption {
  margin: calc(100vw/(1280/8)) auto 0 0;
  font-style: normal;
  font-weight: normal;
  font-size: calc(100vw/(1280/10));
  line-height: calc(100vw/(1280/14));
  letter-spacing: calc(100vw/(1280/1.5));
  text-transform: uppercase;
  color: #FFFFFF;
}

@media screen and (max-width: 1024px) {
  .lead__caption {
    margin: calc(100vw/(1024/8)) auto 0 0;
    font-size: calc(100vw/(1024/10));
    line-height: calc(100vw/(1024/14));
    letter-spacing: calc(100vw/(1024/1.5));
  }
}

@media screen and (max-width: 768px) {
  .lead__caption {
    margin: calc(100vw/(768/8)) auto 0 calc(100vw/(768/24));
    font-size: calc(100vw/(768/10));
    line-height: calc(100vw/(768/14));
    letter-spacing: calc(100vw/(768/1.5));
  }
}

@media screen and (max-width: 320px) {
  .lead__caption {
    margin: calc(100vw/(320/8)) auto 0 calc(100vw/(320/16));
    font-size: calc(100vw/(320/10));
    line-height: calc(100vw/(320/14));
    letter-spacing: calc(100vw/(320/1.5));
  }
}
